@media (max-width: 1400px) {
  .main {

    .header {
      height         : 22vh;

      img {
        width       : 10em;
      }

      .title-head {
        font-size  : 2.5em;
      }
    }

    .cards {
      padding-top: 3em;

      .texts {
        width          : 100%;
        display        : flex;
        flex-direction : row;
        justify-content: space-around;
        align-items    : center;

        .title-card {
          font-weight    : bold;
          font-size      : 3em;
          width          : 11em;
          color          : white;
          line-height    : 0.7em;
          display        : flex;
          flex-direction : column;
          justify-content: start;
          align-items    : start;
          margin-top     : 0px;

          span {
            color    : #fe9900;
            font-size: 0.4em;
            width    : 11em;
          }
        }

        .paragraph {
          color     : white;
          width     : 36em;
          text-align: end;
        }
      }

      .content-animate {
        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : row;
        width          : 100%;

        .animate-cards {
          width          : calc(90vw - 25em);
          display        : flex;
          flex-direction : row;
          align-items    : flex-start;
          justify-content: start;

          .yellow-line {
            background: #fe9900;
            height    : 5em;
            width     : 0em;
            margin-top: 6em;
            transition: ease-in-out 0.2s;
          }

          .long-complete {
            width     : 20em;
            transition: ease-in-out 0.2s;
          }

          .cards-row-end {
            transition: ease-in-out 2s;

            .card {
              transform : perspective(40em) rotateY(45deg) !important;
              transition: ease-in-out 2s;
            }
          }

          .cards-row-begin {
            width          : calc(90vw - 25em);
            display        : flex;
            flex-direction : row;
            align-items    : flex-start;
            justify-content: start;
            padding-left   : 2.5em;
            margin-left    : -18em;
            transition     : ease-in-out 1s;

            .card {
              margin-right: -3em;
              width       : 10em;
              transform   : perspective(40em) rotateY(90deg);
              transition  : ease-in-out 1s;

              .images {
                padding        : 3em 0.5em;
                border         : solid rgba(255, 255, 255, 0.411) 0.3em;
                background     : #162b3e;
                border-radius  : 8px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                flex-direction : column;

                .img1,
                .img2 {
                  width : 8em;
                  height: 8em;
                }

                .img2 {
                  margin-top: -8em;
                }
              }

              p {
                font-weight: bold;
                width      : 7em;
                margin     : 0px;
                margin-top : 3px;
              }
            }
          }
        }

        .buttons {
          width          : auto;
          display        : flex;
          flex-direction : column;
          justify-content: center;
          align-items    : center;

          .btn {
            width        : 25em;
            border       : 2px solid white;
            border-radius: 50px;
            background   : none;
            padding      : 10px 20px;
            font-size    : 0.8em;
            font-weight  : bold;
            font-family  : "Ubuntu", sans-serif;
            cursor       : pointer;
            margin       : 10px;
            transition   : 0.8s;
            position     : relative;
            overflow     : hidden;
            color        : white;
          }

          .btn1::before {
            content: "INNOVATE";
          }

          .btn2::before {
            content: "RUN";
          }

          .btn3::before {
            content: "BUILD";
          }

          .btn::before {
            top            : -10px;
            border-radius  : 0 0 50% 50%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            position       : absolute;
            left           : 0;
            width          : 100%;
            height         : 0%;
            background     : #fe9900;
            z-index        : 1;
            transition     : 0.5s;
          }

          .btn:hover::before {
            height       : 150%;
            transition   : 0.5s;
            border-radius: 0 0 25% 25%;
          }
        }
      }
    }
  }



}