.content-section1 {
  width   : 100%;
  height  : 100vh;
  overflow: hidden;

  .content-svg {
    background    : #f2f3f3;
    width         : 100%;
    height        : 100vh;
    overflow      : hidden;
    display       : flex;
    align-items   : center;
    flex-direction: column;
    z-index       : 1;

    .arrow-content {
      width       : 100%;
      height      : 15em;
      padding-left: calc(50% - 28em);

      .arrow {
        width     : 15em;
        margin-top: 3em;
      }
    }

    .lune {
      margin    : auto;
      margin-top: -12em;
      width     : 80em;
    }
  }

  .content-animated1,
  .content-animated2,
  .content-animated3,
  .content-animated4 {
    height    : 100vh;
    margin-top: -100vh;
    overflow  : hidden;

    #aniMain1,
    #aniMain2,
    #aniMain3,
    #aniMain4 {
      height     : 100%;
      margin-left: 25em;
    }
  }

  .content-text {
    height      : 90vh;
    margin-top  : -96vh;
    padding-left: 5em;

    .title-head {
      font-weight: bold;
      font-size  : 2.5em;
      width      : 11em;
      color      : #162b3e;

      span {
        color: #fe9900;
      }
    }

    .paragraph {
      color      : #162b3e;
      width      : 25em;
      line-height: 1.4em;
      margin-top : -1em;
    }

    .actions {
      margin-top     : 9em;
      width          : 28em;
      height         : 14em;
      display        : flex;
      flex-direction : row;
      justify-content: space-around;
      align-items    : center;

      .action1,
      .action2 {
        width          : 14em;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;

        .action-image-button {
          width: 12em;

          img {
            width : 12em;
            height: 15em;
          }

          .button {
            width           : 12em;
            height          : 2em;
            border-radius   : 5px;
            border          : none;
            background-color: #fe9900;
            color           : white;
            text-align      : center;
            font-weight     : bold;
            display         : flex;
            flex-direction  : row;
            justify-content : center;
            align-items     : center;
            cursor: pointer;

            img {
              width       : 1em;
              height      : 1em;
              margin-right: 0.3em;
            }

            p {
              margin: 0px;
            }
          }
        }
      }
    }
  }
}