@media (max-width: 1400px){
  .content-section1 {
  
    .content-text {
  
      .actions {
        margin-top: 5em;
        width: 20em;
        height: 14em;
  
        .action1,
        .action2 {
          width: 9em;
  
          .action-image-button {
            width: 9em;
            img {
              width: 8em;
              height: 10em;
            }
  
            .button {
              width: 9em;
              height: 2em;
              
  
              img {
                width: 1em;
                height: 1em;
                margin-right: 0.3em;
              }
              p{
                margin: 0px;
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
  }
}
