@media (max-width: 1600px) {
    .content-space-animation {

        .content-animation {

            // Planet 1 ===================================================================================
            .content-planet1 {
                height: 100vh;
                width: 100%;
                margin-top: 0vh !important;

                img {
                    width: 35em !important;
                    margin-left: 58em !important;
                    margin-top: 20em !important;
                }
            }

            .content-planet1-part2 {
                img {
                    margin-left: 49em !important;
                    margin-top: 50em !important;
                }
            }

            .content-planet1-part3 {
                img {
                    margin-left: 3em !important;
                    margin-top: 100em !important;
                }
            }

            .content-planet1-part4 {
                img {
                    margin-left: 50em !important;
                    margin-top: 142em !important;
                }
            }


            // Planet 2 ===================================================================================
            .content-planet2-part2 {
                img {
                    margin-left: 1em !important;
                    margin-top: 70em !important;
                }
            }

            .content-planet2-part3 {
                img {
                    margin-left: 62em !important;
                    margin-top: 82em !important;
                }
            }

            .content-planet2-part4 {
                img {
                    margin-left: -2em !important;
                    margin-top: 158em !important;
                }
            }

            // Planet 3 ===================================================================================
            .content-planet3-part2 {
                img {
                    margin-left: 12em !important;
                    margin-top: 44em !important;
                }
            }

            .content-planet3-part3 {
                img {
                    margin-left: 58em !important;
                    margin-top: 126em !important;
                }
            }

            .content-planet3-part4 {
                img {
                    margin-left: 14em !important;
                    margin-top: 130em !important;
                }
            }


        }

        // Miscellaneous ===================================================================================
        .content-animatetion-miscellaneous {
            margin-top: -400vh !important;

            // Rocket ===================================================================================
            .content-c-rocket {
                .content-rocket {
                    .rocket {
                        width: 25em !important;
                        margin-left: 50em !important;
                        margin-top: -2em !important;
                    }
                }

                .content-rocket-part2 {
                    margin-top: 35em !important;
                    transition: ease-in-out 1s !important;

                    .rocket {
                        transform: rotateZ(220deg) !important;
                        margin-left: 44em !important;
                        margin-top: 2em !important;
                        transition: ease-in-out 1s !important;
                    }
                }

                .content-rocket-part3 {
                    margin-top: 92em !important;
                    transition: ease-in-out 1s !important;

                    .rocket {
                        transform: rotateZ(217deg) !important;
                        margin-left: 28em !important;
                        margin-top: 25em !important;
                        transition: ease-in-out 1s !important;
                    }
                }

                .content-rocket-part4 {
                    margin-top: 134em !important;
                    transition: ease-in-out 1s !important;

                    .rocket {
                        transform: rotateZ(244deg) !important;
                        margin-left: 27em !important;
                        margin-top: -4em !important;
                        transition: ease-in-out 1s !important;
                    }
                }


            }





            // Satellite ===================================================================================
            .content-c-satellite {
                height: 100vh !important;
                width: 100% !important;
                margin-top: -100vh !important;

                .content-satellite-part4 {
                    .satellite {
                        margin-left: 13em !important;
                        margin-top: 17em !important;
                    }
                }
            }


            // paragraph 1 ===================================================================================
            .content-c-paragraph1 {
                height: 100vh !important;
                width: 100% !important;
                margin-top: -100vh !important;

                .content-paragraph1 {
                    margin-top: 18em !important;
                }
            }



            // paragraph 2 ===================================================================================
            .content-c-paragraph2 {
                height: 100vh !important;
                width: 100% !important;
                margin-top: -75vh !important;

                .content-paragraph2 {
                    margin-top: 14em !important;
                    margin-left: 25em !important;

                    .img-moon {
                        width: 28em !important;
                        top: -22em !important;
                        left: 27.5em !important;
                    }
                }
            }


            // paragraph 3 ===================================================================================
            .content-c-paragraph3 {
                height: 100vh !important;
                width: 100% !important;
                margin-top: -100vh !important;

                .content-paragraph3 {
                    width: 35em !important;
                    height: 10em !important;
                    margin-top: 13em !important;
                    margin-left: 43em !important;
                    border-radius: 8px !important;

                    .img-moon {
                        width: 22em !important;
                        top: -17.5em !important;
                        left: -33.5em !important;
                    }

                }
            }


            // paragraph 4 ===================================================================================
            .content-c-paragraph4 {
                height: 100vh !important;
                width: 100% !important;
                margin-top: -100vh !important;

                .content-paragraph4 {
                    margin-top: 5em !important;
                    margin-left: 26em !important;

                    .img-moon {
                        width: 30em !important;
                        top: -19.5em !important;
                        left: 26.5em !important;
                    }

                }
            }
        }
    }

}